:root{
  --color-dark-main: #1E1E24;
  --color-dark-compliment: #444140;
  --color-light-main: #81B29A;
  --color-light-compliment: #F4F1DE;
  --color-searched-books: #C9DBBA ;
}

*{
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body{
  background-color: var(--color-light-compliment);
  min-height: 100vh;
  min-width: 100%;
}

/* NAVBAR */
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light-main);
  padding: 1rem;
}

.nav-logo{
  display: flex;
  align-items: center;
}

.logo{
  color: var(--color-light-compliment);
  cursor: pointer;
  margin: 8px;
}

.settings{
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.settings-item{
  margin: 5px;
  color: var(--color-light-compliment);
  background-color: var(--color-light-main);
  border: 1px solid;
  border-radius: 5px;
  padding: 6px;
}

.logo-name{
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--color-light-compliment);
}

/* search results */
.search-container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 5px;
}

.searched-book-button{
  background-color: var(--color-searched-books);
  /* opacity: 0.7; */
  /* backdrop-filter: blur(8px); */
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  width: 100%;
  height: 100%;
}

/* HOME PAGE */
.styled-button{
  background-color: var(--color-light-main);
  border-radius: 1rem;
  padding: 5px 9px;
  border: 1px solid var(--color-light-main);
}
/* books */
.books-container{
  display: grid;
}

.book-button{
  background-color: var(--color-light-main);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  width: 100%;
  height: 100%;
}

.author-and-title{
  text-align: left;
  line-height: 1.5rem;
  font-size: 1rem;
}

.book-image{
  margin-right: 1rem;
}

/* preview */
.preview-overlay{
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color-light-compliment);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-description{
  margin-top: 1rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 50rem) {
  .books-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    margin: 1rem;
  }
}